@import '../../style/theme.scss';

.CloseButton {
  width: auto;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 10px;
  right: 20px;
  &:after,
  &:before {
    content: '';
    width: 20px;
    height: 2px;
    background-color: $black;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
  }
  &:after {
    transform: rotate(45deg);
  }
  &:before {
    transform: rotate(-45deg);
  }
  span {
    display: none;
  }
}
