@import '../../style/theme.scss';

.imageGallery {
  &:focus {
    outline: none;
  }
  img {
    max-height: 80vh;
    user-select: none;
  }
  .arrowLeft,
  .arrowRight {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 56px;
    cursor: pointer;
  }
  .arrowLeft {
    left: get-vw(36px);
  }
  .arrowRight {
    right: get-vw(36px);
  }
  .CloseButton {
    position: fixed;
    top: 40px;
    right: 40px;
    &:before,
    &:after {
      background: $white;
    }
  }
}
